/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Roboto:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.category__up__filigran {
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 800;
  color: #C8A969;
  opacity: 0.3;
}

html {
  height: 100%;
}
html body {
  min-height: 100%;
  margin: 0;
}
html body header {
  min-height: 100vh;
}

.header {
  background: linear-gradient(159deg, rgba(2, 7, 9, 0.9906162294) 32%, rgba(9, 13, 15, 0) 100%, rgba(255, 255, 255, 0) 100%, rgb(0, 0, 0) 100%, rgb(0, 0, 0) 100%, rgb(0, 0, 0) 100%), url(assets/img/slider/img_bg_slider_home01.jpg);
  background-size: cover;
  background-position: center center;
  color: white;
}
.header li {
  font-family: "Open Sans", sans-serif;
}
.header .header_img {
  margin: 10px;
}
.header .header_logo {
  display: flex;
  justify-content: center;
}
.header .header_title {
  display: flex;
  justify-content: center;
  font-family: "Cinzel", serif;
}
.header .fa-phone {
  color: #C8A969;
}
.header .header_header_phone_book {
  padding: 10px;
  background-color: #C8A969;
  border-radius: 5px;
}
.header .header_phone {
  float: right;
}
.header .header_header_phone_book,
.header .header_header_phone_num {
  list-style: none;
  margin: 5px;
}
.header .header_ul_li_home,
.header .header_ul_li_about,
.header .header_ul_li_page,
.header .header_ul_li_shop,
.header .header_ul_li_contact {
  list-style: none;
  margin-bottom: 4px;
  cursor: pointer;
  width: 80px;
}
.header .header_ul_li_home:hover,
.header .header_ul_li_about:hover,
.header .header_ul_li_page:hover,
.header .header_ul_li_shop:hover,
.header .header_ul_li_contact:hover {
  color: #C8A969;
}

.header_p {
  margin-left: 150px;
  font-size: small;
  cursor: pointer;
  padding: 5px;
  border: 1px solid white;
  width: 180px;
  color: #C8A969;
}
.header_p:hover {
  background-color: #C8A969;
  color: black;
}

.category {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 140vw;
  font-family: "Nanum Myeongjo", serif;
}

.category__up {
  background-position: 0% 80%;
  background: linear-gradient(45deg, rgba(250, 237, 210, 0.5) 0%, rgba(250, 237, 210, 0.5) 100%), url(assets/img/banner/imgbgcategory.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100vw;
  padding: 20px;
  background-size: contain;
}
.category__up__filigran {
  margin: 0.4em 0 0.2em 0;
}
.category__up__wrapTitle {
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -160%);
}
.category__up__wrapTitle__title {
  text-transform: uppercase;
  font-size: large;
  text-align: center;
  margin: 0;
}
.category__up__wrapTitle__text {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 0.8rem;
  margin: 0;
  padding: 5px 0 0 0;
}
.category__up__wrapItems {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25% 25%;
  -moz-column-gap: 5%;
       column-gap: 5%;
  row-gap: 5%;
  width: 70%;
  margin: auto;
  padding: 20px;
  margin-top: 10vw;
}
.category__up__item {
  background-color: white;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.category__up__item__dish {
  align-self: center;
  padding: 10px 0;
  width: 40%;
}
.category__up__item__title {
  font-size: 0.6em;
}
.category__up__item__arrow {
  align-self: center;
  padding: 10px 0;
  width: 20%;
}
.category__up__item:hover {
  background-color: #C8A969;
}
.category__up__item:hover .category__up__item__dish {
  filter: sepia(1);
}
.category__up__item:hover h4 {
  color: white;
}
.category__up__item:hover .category__up__item__arrow {
  filter: invert(1);
}

.category__down {
  position: absolute;
  top: 100vw;
  left: 50%;
  transform: translate(-50%, -20%);
  display: flex;
  justify-content: space-between;
  gap: 5%;
  align-items: center;
  width: 80%;
  margin: auto;
}
.category__down__dish {
  width: 15%;
}
.category__down__dish__middle {
  width: 45%;
  border: white solid 20px;
  border-radius: 50%;
}

@media only screen and (min-width: 1024px) {
  .category {
    height: 80vw;
  }
  .category__up {
    background-position: 0 0;
    height: 50vw;
  }
  .category__up__filigran {
    text-transform: uppercase;
    font-size: 170px;
    font-weight: 400;
    transform: scale(1, 1.2);
    color: #C8A969;
    opacity: 0.2;
    margin: 0.4em 0 0.2em 0;
  }
  .category__up__wrapTitle {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -220%);
  }
  .category__up__wrapTitle__title {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    margin: 0;
  }
  .category__up__wrapTitle__text {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    margin: 10px 0 0 0;
    padding: 5px 0 0 0;
  }
  .category__up__wrapItems {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 25%;
    -moz-column-gap: 2%;
         column-gap: 2%;
    row-gap: 2%;
    width: 78%;
    margin: auto;
    padding: 0px;
    margin-top: 3vw;
  }
  .category__up__item {
    padding: 20px 0;
  }
  .category__up__item__dish {
    align-self: center;
    padding: 10px 0;
    width: 25%;
  }
  .category__up__item__title {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    margin: 5px 0;
  }
  .category__up__item__arrow {
    padding: 20px 0;
    width: 8%;
  }
  .category__down {
    top: 50vw;
  }
  .category__down__dish {
    width: 25%;
  }
  .category__down__dish__middle {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .header_p {
    margin: auto;
  }
  .header_phone {
    margin: 20px;
  }
  .header_phone .header_header_phone_num {
    margin-top: 10px;
    margin-right: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  li {
    display: inline;
  }
  .header_p {
    margin-left: 50px;
  }
  .header_logo {
    position: absolute;
    top: 130px;
    left: 400px;
  }
  .header_ul {
    position: absolute;
    left: 25%;
    top: 0px;
  }
  .header_ul li {
    margin-left: 15px;
  }
  .header_phone {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
  }
  .header_title {
    float: none;
    width: 50px;
    font-size: 300%;
    margin-left: 250px;
    margin-top: 130px;
  }
}/*# sourceMappingURL=style.css.map */