@import "moduleSCSS/_variables.scss";
@import "moduleSCSS/_font.scss";
@import "moduleSCSS/_header.scss";


// category
.category {
  position:relative;
  box-sizing: border-box;
  width: 100%;
  height:650px;
  font-family: $font-titles;
  // background-color:aquamarine
}

.category__up {
  // background: url(assets/img/banner/imgbgcategory.jpg) no-repeat ;
  background-position: 0% 80% ;
  background: linear-gradient(45deg, rgba(250,237,210,0.5) 0%, rgba(250,237,210,0.5) 100%), url(assets/img/banner/imgbgcategory.jpg);
  background-repeat: no-repeat;
  background-position:50%;
  height: 500px;
  padding:20px;
  //width:100%;
  background-size:contain;
  // background-position: center center;
  // &__header{
   
  // }

  &__filigran{
    text-transform: uppercase;
    font-size:70px;
    font-weight:800;
    color:$color-darkgold;
    opacity:0.3;
    margin:0.4em 0 0.2em 0;
  }

  &__wrapTitle{
    position: absolute;
    left:50%;
    width:100%;
    transform: translate(-50%,-160%);
    
  }

  &__title{
    text-transform: uppercase;
    font-size: large;
    text-align: center;
    margin:0;
  }

  &__text {
    font-family: $font-p;
    text-align: center;
    font-size:0.8rem;
    margin:0;
    padding:5px 0 0 0;
  }
  
  &__wrapItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px 120px;
    column-gap:5%;
    row-gap: 5%;

    width:70%;
    margin:auto;
    padding:20px;
  }

  &__item {
    background-color: white;
    padding:20px 0;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;

    &__dish {
      align-self:center;
      width:50%;
    }

    &__title {
      font-size:0.6em;
    }

    &__arrow {
      align-self:center;
      width: 20%;

    }
  }
  &__item:hover{
    background-color:$color-darkgold;
    .category__up__item__dish{
      filter: sepia(1);
    }
    h4{
      color:white;
    }
    .category__up__item__arrow {
      filter:invert(1);
    }
  }
}

.category__down{
  position:absolute;
  top:70%;
  left:50%;
  transform: translate(-50%,0%);
  display:flex;
  justify-content:space-between;
  gap:5%;
  align-items:center;
  width:80%;
  margin:auto;
  &__dish {
    width:15%;
    &__middle {
      width:45%;
      border:white solid 20px;
      border-radius: 50%;
    }
  }
}

@media only screen and (min-width: 768px) {
  .header_p{
    margin: auto;
  }
  .header_phone{
    margin:20px;
    .header_header_phone_num{
      margin-top:10px;
      margin-right: 10px;
    }
  }
}
@media only screen and (min-width: 1024px) {
  li {
    display: inline;
  }
  .header_p{
    margin-left: 50px;
  }
  .header_logo{
    position: absolute;
    top:130px;
    left: 400px;
  }
  .header_ul {
    position: absolute;
    left: 25%;
    top: 0px;
    li{
      margin-left:15px;
    }
  }
  .header_phone {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
  }
  .header_title {
    float: none;
    width: 50px;
    font-size: 300%;
    margin-left: 250px;
    margin-top: 130px;
  }
}

