.chefs{
    position:relative;
    z-index: 0;
    width: 100%;
    height:150vw;
    padding: 20px;
    font-family: $font-titles;
    // background-color: black;
    // background-position: 0% 80% ;
    background-image: url(assets/img/our-chefs/imgbg-ourchefs.jpg);
    // background-repeat: no-repeat;
    // background-position:left bottom;
    // background-size:contain;
}

.chefs__filigran{
    @extend %filigran;
    margin:0.4em 0 0.2em 0;
}  
    
.chefs__wrapTitle{
        @include wrapTitle(-160%);
        color:white
}

.chefs__wrapPhotos {
    width:77vw;
    margin:10vw auto;
    display: grid;
    grid-template-columns: 37vw 37vw;
    grid-template-rows: repeat(2,1fr); 
    gap: 3vw;
    &__photos{
        display: block;
        width:37vw;
    }
}