// Colors variables
$color-aqua: aqua;
$color-black: black; 
$color-blue: blue;
$color-fuchsia: fuchsia;
$color-gray: gray;
$color-green: green;
$color-lime: lime;
$color-maroon: maroon; 
$color-navy: navy; 
$color-olive: olive; 
$color-purple: purple; 
$color-red: red; 
$color-silver: silver; 
$color-teal: teal; 
$color-white: white;
$color-yellow: yellow;
$color-darkblue:darkblue;
$color-darkgray: #706e6e;
$color-darkgoldenrold:darkgoldenrod;
$color-darkgold:#C8A969;
$color-filigran:#C5BAA5;
$color-section:#FAEDD2;

// ----------------------------------------------------------------------------------------------

//Fonts
$font-mainTitle: "Cinzel", serif;
$font-titles:'Nanum Myeongjo', serif;
// $font-p:'Roboto', sans-serif;
$font-p: "Open Sans", sans-serif;

//Extending classes
%filigran{
    text-transform: uppercase;
    font-size:70px;
    font-weight:800;
    color:$color-darkgold;
    opacity:0.3;
  }

@mixin filigranDesktop{
  text-transform: uppercase;
  font-size:170px;
  font-weight:400;
  transform:scale(1,1.2);
  color:$color-darkgold;
  opacity:0.2;
}

//mixins
@mixin wrapTitle($relativeHeight){
    position: absolute;
    left:50%;
    width:100%;
    transform: translate(-50%,$relativeHeight);
    &__title{
      text-transform: uppercase;
      font-size: large;
      text-align: center;
      margin:0;
    }
    &__text {
      font-family: $font-p;
      text-align: center;
      font-size:0.8rem;
      margin:0;
      padding:5px 0 0 0;
    }
  }

  @mixin wrapTitleDesktop($relativeHeight){
    position: absolute;
    left:50%;
    width:100%;
    transform: translate(-50%,$relativeHeight);
    &__title{
      text-transform: uppercase;
      font-size:40px;
      text-align: center;
      margin:0;
    }
    &__text {
      font-family: $font-p;
      text-align: center;
      font-size:1rem;
      font-weight: bold;
      margin:10px 0 0 0;
      padding:5px 0 0 0;
    }
  }