// Colors variables
$color-aqua: aqua;
$color-black: black; 
$color-blue: blue;
$color-fuchsia: fuchsia;
$color-gray: gray;
$color-green: green;
$color-lime: lime;
$color-maroon: maroon; 
$color-navy: navy; 
$color-olive: olive; 
$color-purple: purple; 
$color-red: red; 
$color-silver: silver; 
$color-teal: teal; 
$color-white: white;
$color-yellow: yellow;
$color-darkblue:darkblue;
$color-darkgray: #706e6e;
$color-darkgoldenrold:darkgoldenrod;
$color-darkgold:#C8A969;
$color-filigran:#C5BAA5;
$color-section:#FAEDD2;

// ----------------------------------------------------------------------------------------------